@font-face {
  font-family: "Alcuin Becker Regular";
  src: local("Alcuin Becker Regular"), url("../public/Alcuin Becker Regular.ttf") format("truetype");
}
*:focus-visible {
  outline: none;
}


/************** Body **************/

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 300px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  --color-primary: rgb(58, 73, 114);
  --color-input-background: rgb(247, 243, 240);
  --color-button-text: #374c68;

  --color-secondary: rgb(185, 71, 99);
  --filter-secondary: hue-rotate(120deg) saturate(3);

  --color-highlight: rgb(255, 153, 0);
  --color-select: rgb(180, 41, 76);
  --color-line-placeable: rgb(255, 255, 255);

  --line-stones-width: 85%;
  --line-stones-gap: 25px;
  --filter-stone-highlighted: drop-shadow(0 10px 0.4rem black);
  --outline-stone-highlighted: 7px dashed var(--color-highlight);
  --border-stone-blank-selected: 2px outset var(--color-select);
  --outline-stone-blank-visible: 4px dashed var(--color-line-placeable);
  --filter-stone-selected: drop-shadow(0 0 4px var(--color-select)) drop-shadow(0 10px 0.4rem black);
  --outline-stone-selected: 7px outset var(--color-select);
  --filter-stone-selected: drop-shadow(0 0 4px var(--color-select)) drop-shadow(0 10px 0.4rem black);
  --outline-stone-selected: 7px outset var(--color-select);

  --filter-image-ohver: invert(1) brightness(2) drop-shadow(0 1px 2px black);
  --image-background: url("../public/images/demacia/background.jpg");
  --image-button: url("../public/images/demacia/button.png");
  --image-button-hover: url("../public/images/demacia/button-hover.png");
  --image-button-square: url("../public/images/demacia/button-square.png");
  --image-button-square-hover: url("../public/images/demacia/button-square-hover.png");

  background-image: var(--image-background);
}

* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Alcuin Becker Regular, Open Sans, Poppins, sans-serif;
}
body{
  display: flex;
  height: 100vh;
  min-height: min-content;
  align-items: center;
  justify-content: center;
}


/************** Menus **************/

.choice-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 60%;
}
.choice-buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 25px;
  margin-top: 10px;
}
.choice-buttons.back-submit {
  gap: 10px;
}
.input-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}
input {
  height: 70px;
  align-self: center;
}
input, .region-selector {
  font-size: x-large;
  text-align: center;
  color: var(--color-primary);
  background-color: var(--color-input-background);
  border: 3px solid var(--color-primary);
  padding: 12px;
  max-height: 90px;
  max-width: 100%;
  margin-bottom: 20px;
}
input#room {
  font-weight: bold;
  letter-spacing: 3px;
}
.region-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 90px;
  height: 90px;
  border-radius: 25%;
  margin-left: 10px;
  padding: 3px;
}
.region-selector > img {
  max-height: 100%;
  max-width: 100%;
  filter: drop-shadow(0 0 1px black);
}

.waiting {
    width: 300px;
    font-size: 20px;
    color: var(--color-primary);
}
.waiting input {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px;
}
.waiting .centered {
    text-align: center;
}

/************** Scores **************/

h1, h2 {
  color: white;
  text-align: center;
}
h1 {
  font-size: 40px;
}
.status-message {
  text-align: center;
  margin-bottom: 10px;
  background: var(--color-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 4px 0.2rem #00000090);
  transition: all 0.5s ease;
}
.status-message.enemy {
  background: var(--color-secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.score-board {
  display: flex;
  justify-content: space-between;
  margin: 0 15px 10px;
  height: 50px;
}
.score {
  display: flex;
  align-items: center;
  gap: 10px;
}
.score.reverse {
  flex-direction: row-reverse;
  filter: var(--filter-secondary);
}
.score > button {
  width: 50px !important;
  height: 50px !important;
  opacity: 100% !important;
  cursor: default !important;
  filter: drop-shadow(0px 4px 4px #00000070);
  transition: all 0.8s cubic-bezier(0.5, 0.4, 0.15, 2.3) !important;
}
.score > button.selected {
  color: white;
  background-image: var(--image-button-square-hover);
}
.score > button.current {
  transform: scale(125%);
}

/************** Line **************/

.line {
  position: relative;
  width: 100%;
  filter: drop-shadow(0 5px 0.2rem black);
}
.div-inside-line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.line-stones {
  position: relative;
  margin: auto;
  width: var(--line-stones-width);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 100%;
  grid-gap: var(--line-stones-gap);
  align-content: center;
  align-items: center;
}
.line-stones > * {
  border-radius: 50%;
  height: 100%;
}


/************** Pool **************/

.below-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 40px 0;
  gap: 20px;
}

.pool {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-end;
}
.pool-stone {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}


/************** Options **************/

.options-challenge {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
}
.options {
  display: grid;
  grid-template-columns: 1fr 1fr 3.25fr 1fr;
  gap: 20px;
  text-align: center;
  flex-shrink: 0;
}

.btn {
  display: inline-block !important;
  height: 90px;
  font-size: 25px;
  color: var(--color-button-text);
  line-height: 23px;
  border: none;
  background: transparent var(--image-button) no-repeat center center;
  background-size: contain;
  transition: all 0.2s ease;
  z-index: 100;
}
.btn:hover:not(:disabled), .btn.selected {
  cursor: pointer;
  color: white;
  background-image: var(--image-button-hover);
}
.btn-square {
  background-image: var(--image-button-square);
}
.btn-square:hover:not(:disabled), .btn-square.selected {
  background-image: var(--image-button-square-hover);
}
.options-img {
  height: 100%;
  padding: 20px;
}
.btn:hover:not(:disabled) > img, .btn.selected > img {
  transition: all 0.1s ease;
  filter: var(--filter-image-hover);
}
.btn.btn-cancel {
  font-size: 35px;
  font-weight: bold;
  filter: var(--filter-secondary);
}
.btn-submit {
  filter: hue-rotate(290deg) saturate(2.5);
}
.btn:disabled:not(.selected) {
  opacity: 70%;
}


/************** Challenge **************/

.challenge {
  margin: auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  border: 3px solid var(--color-primary);
  background-color: var(--color-input-background);
  height: 90px;
  width: fit-content;
  padding: 5px 15px 10px;
}
.challenge-stone {
  width: 60px;
}


/************** Stones **************/

.stone {
  width: 100%;
  filter: drop-shadow(0 10px 0.4rem black);
  border-radius: 50%;
  transition: all 0.2s ease;
}
.stone.highlighted {
  filter: var(--filter-stone-highlighted);
  outline: var(--outline-stone-highlighted);
}
.stone.selected {
  filter: var(--filter-stone-selected);
  outline: var(--outline-stone-selected);
}
.stone.challenge-selected {
  filter: var(--filter-stone-selected);
  outline: var(--outline-stone-selected);
}

.stone.blank {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.stone.blank.visible {
  outline: var(--outline-stone-blank-visible);
}
.stone.blank.selected {
  filter: var(--filter-stone-selected);
  border: var(--border-stone-blank-selected);
}
.stone.blank:not(.highlighted):not(.selected):not(.visible) {
  opacity: 2% !important;
}
.stone.peeked {
  transform: rotateY(0deg) scale(2) !important;
}
.flip-stone.peeked {
  z-index: 2;
}

.stone:not(.clickable):not(.selected):not(.highlighted):not(.peeked) {
  opacity: 70%;
}
.clickable:hover {
  cursor: pointer;
}

.flip-stone {
  height: 100%;
  perspective: 1000px;
}

.flip-stone-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-stone.hidden .flip-stone-inner {
  transform: rotateY(180deg);
}

.flip-stone-front, .flip-stone-back {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-stone-back {
  transform: rotateY(180deg);
}

